<% if(error_msg != '') { %>
   <p style="color: red;"> <%= error_msg %></p>
<% } %> 

<% if(error != '') { %>
   <p style="color: red;"> <%= error %></p>
<% } %>

<% if (message != "") {%>
   <div class="alert alert-<%= status %> alert-dismissible fade show text-light" role="alert">
      <%= message %>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
<% } %>