<!DOCTYPE html>
<html>
	<head>
		<title>Login System</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Login System</h1>
		<h1>Welcome!</h1>
		<a href="/auth/signup" class="btn btn-primary btn-block mb-2">Create an account</a
		>
		<p>or</p>
		<a href="/auth/login"> Login</a>
	</body>
</html>

