<%- include ./partials/header.ejs %>

		<h1>Login</h1>
		<%- include ./partials/message.ejs %>
		<form action="/auth/login" method="POST">
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" placeholder="Enter Email" />
			</div>
			<div>
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					placeholder="Enter Password"
				/>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Login</button>
			<p>Doesn't Have An Account? <a href="/auth/signup">Sign Up</a></p>
		</form>

<%- include ./partials/footer.ejs %>
